@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "NanumSquare";
}

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  border: none;
  outline: none;
}

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-R";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.banner {
  width: 100%;
  margin: 0 auto 150px;
  position: relative;
  color: #FFFFFF;
  text-align: center;
}
.banner p img {
  width: 100%;
  height: 100%;
}
.banner .banner_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner .banner_text h2 {
  display: flex;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 2.8rem;
}
.banner .banner_text b {
  font-weight: normal;
}

.input_icon {
  padding: 10px;
  font-size: 20px;
  width: 30%;
}

.name, .tel, .email, .num {
  height: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #B6B6B6;
}

.name::before {
  content: url(../img/reserv/reserv02_user_01.svg);
  display: inline-block;
  margin-left: 10px;
  margin-right: 9px;
  font-size: 0px;
}

.tel::before {
  content: url(../img/reserv/reserv02_call_01.svg);
  display: inline-block;
  margin-left: 10px;
  margin-right: 4px;
  font-size: 0px;
}

.email::before {
  content: url(../img/reserv/reserv02_mail_01.svg);
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 0px;
}

.num::before {
  content: url(../img/reserv/reserv03_num_01.svg);
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 0px;
}

.user_top, .calender_top, .reserv03_check_top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 5px 28px;
  background-color: #999F54;
  border-radius: 16px 16px 0 0;
  text-align: center;
}
.user_top h3, .calender_top h3, .reserv03_check_top h3 {
  color: #FFF8EB;
  font-weight: normal;
}

.close {
  margin-left: 54px;
  width: 12px;
  height: 12px;
  background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
}

.reserve_bar {
  width: 1400px;
  margin: 0 auto 150px;
}
.reserve_bar ul {
  display: flex;
  justify-content: space-around;
}
.reserve_bar ul li {
  position: relative;
  flex-shrink: 0;
}
.reserve_bar ul li a {
  display: inline-block;
  width: 7.125rem;
  text-align: center;
}
.reserve_bar ul li p {
  display: inline-block;
  color: #999F54;
}
.reserve_bar ul li::after {
  content: url(../img/reserv/reserv_arrow_02.svg);
  display: inline-block;
  position: absolute;
  right: -150%;
  top: 0;
}
.reserve_bar ul li:last-of-type::after {
  content: "";
}
.reserve_bar ul li.active p {
  color: #566418;
  font-weight: bold;
  border-bottom: 1px solid #566418;
}
.reserve_bar ul li.active::after {
  content: url(../img/reserv/reserv_arrow_01.svg);
  display: inline-block;
}
.reserve_bar ul li:last-of-type.active::after {
  content: "";
  display: inline-block;
}

#calendar {
  width: 1400px;
  margin: 0 auto;
  text-transform: uppercase;
}

.reserve_popupbar {
  position: relative;
}
.reserve_popupbar .reserve_popupbar_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
}
.reserve_popupbar .reserve_popupbar_flex .left {
  display: flex;
  align-items: center;
  background-color: rgba(255, 248, 235, 0.5254901961);
  height: 100px;
}
.reserve_popupbar .reserve_popupbar_flex .left div {
  border-right: 1px solid black;
  padding: 0 53px;
}
.reserve_popupbar .reserve_popupbar_flex .left div h3 {
  font-size: 14px;
  font-weight: normal;
}
.reserve_popupbar .reserve_popupbar_flex .left div p {
  font-size: 1.25rem;
  font-weight: bold;
}
.reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
  text-align: center;
}
.reserve_popupbar .reserve_popupbar_flex .left .children {
  border: none;
}
.reserve_popupbar .reserve_popupbar_flex .right {
  height: 100px;
}
.reserve_popupbar .reserve_popupbar_flex .right a {
  display: block;
  font-size: 1.5rem;
  padding: 32px 91px;
  color: white;
  background-color: #999F54;
}
.reserve_popupbar .user {
  width: 250px;
}
.reserve_popupbar .user h3::before {
  content: url(../img/reserv/reserv_uesr_01.svg);
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-right: 10px;
}
.reserve_popupbar .user .plus_btn {
  width: 26px;
  height: 26px;
  background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
}
.reserve_popupbar .user .minus_btn {
  width: 26px;
  height: 26px;
  background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
}
.reserve_popupbar .user .user_1 {
  border: 1px solid #999F54;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  padding: 20px 33px;
}
.reserve_popupbar .user .user_1 .user_btn {
  text-align: center;
}
.reserve_popupbar .user .user_1 .user_btn a {
  background-color: #ECEBC2;
  border-radius: 20px;
  padding: 13px 27px;
}
.reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
  font-size: 0.7rem;
}
.reserve_popupbar .user .button_num {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.reserve_popupbar .calender {
  width: 750px;
}
.reserve_popupbar .calender h3::before {
  content: url(../img/reserv/reserv_date_01.svg);
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-right: 300px;
}

.reserv02 {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  line-height: 24px;
}
.reserv02 .dot {
  word-break: keep-all;
  line-height: 1.8;
}
.reserv02 .dot::before {
  content: " ⁕ ";
  margin-right: 5px;
}
.reserv02 h3 {
  margin-bottom: 30px;
  font-size: 1.25rem;
}
.reserv02 .checkbox, .reserv02 .radio {
  width: 16px;
  height: 16px;
  margin: 2px 10px 0 0;
}
.reserv02 .left {
  padding: 150px 60px;
}
.reserv02 .left .content_box {
  margin-bottom: 70px;
}
.reserv02 .left .content_box .qna::after {
  content: " | ";
}
.reserv02 .left .content_box .qna, .reserv02 .left .content_box .tel_01, .reserv02 .left .content_box .email_01 {
  display: inline-block;
}
.reserv02 .left .content_box .tel_01::before {
  content: url(../img/reserv/reserv02_call_02.svg);
  display: inline-block;
}
.reserv02 .left .content_box .email_01::before {
  content: url(../img/reserv/reserv02_mail_02.svg);
  display: inline-block;
}
.reserv02 .left .content_box a {
  margin-left: 13px;
  font-size: 0.8rem;
  color: #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
}
.reserv02 .right {
  position: sticky;
  background-color: #FFF8EB;
  padding: 150px 60px;
}
.reserv02 .right .cash {
  margin: 0 0 100px;
}
.reserv02 .right .cash .room b, .reserv02 .right .cash .room p {
  margin-bottom: 10px;
}
.reserv02 .right .cash .room .reserv_children > p {
  margin-bottom: 26px;
}
.reserv02 .right .cash .total {
  border-top: 2px dashed #333;
}
.reserv02 .right .cash .total b {
  padding-top: 36px;
  font-size: 1.25rem;
}
.reserv02 .right .cash .total p {
  padding-top: 32px;
  font-size: 1.8rem;
}
.reserv02 .right .cash .check_in_out, .reserv02 .right .cash .reserv_adult, .reserv02 .right .cash .reserv_children, .reserv02 .right .cash .total {
  display: flex;
  justify-content: space-between;
}
.reserv02 .right .reserv_payment .payment_methods01 {
  margin-bottom: 50px;
}
.reserv02 .right .reserv_payment .payment_methods02 {
  margin-bottom: 50px;
  display: none;
}
.reserv02 .right .reserv_payment .payment_methods02 p {
  margin: 30px 0;
}
.reserv02 .right .reserv_payment .payment_methods02.active {
  display: block;
}
.reserv02 .right .reserv_payment .payment_methods02 > b::before {
  content: url(../img/reserv/reserv02_bank_01.svg);
  display: inline-block;
  margin-right: 10px;
}
.reserv02 .right a {
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  display: block;
  background-color: #999F54;
  color: #FFF8EB;
}

.reserv03 {
  width: 1400px;
  margin: 0 auto;
}
.reserv03 .reserv03_inputbox {
  margin: 0 auto;
  display: flex;
  width: 554px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserv03 a {
  text-align: center;
  font-size: 1.25rem;
  color: #FFF8EB;
  display: inline-block;
  background-color: #999F54;
  padding: 30px 50px;
  border-radius: 20px;
}
.reserv03 .reserv03_check {
  margin: 0 auto;
  width: 500px;
}
.reserv03 .reserv03_check h3::before {
  content: url(../img/reserv/reserv03_popup_01.svg);
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-right: 132px;
}
.reserv03 .reserv03_check .room_num {
  margin-bottom: 50px;
}
.reserv03 .reserv03_check .room_num h2 {
  font-size: 1.25rem;
  margin-bottom: 40px;
}
.reserv03 .reserv03_check .room_num ul {
  border-bottom: 1px solid #555;
}
.reserv03 .reserv03_check .room_num ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.reserv03 .reserv03_check .room_num ul li p {
  font-size: 1rem;
  font-weight: normal;
}
.reserv03 .reserv03_check .room_num ul li:last-of-type {
  margin-bottom: 25px;
}
.reserv03 .reserv03_check .room_check {
  border: 1px solid #999F54;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  padding: 55px;
}
.reserv03 .reserv03_check .reserv03_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reserv03 .reserv03_check .reserv03_btn a {
  border-radius: 15px;
  padding: 12px 20px;
  background-color: #999F54;
  color: #FFF8EB;
}
.reserv03 .reserv03_check .reserv03_btn a:nth-of-type(1) {
  background-color: #ECEBC2;
  color: #566418;
}

/* 
=========================================================
=========================================================
========================MOBILE=====================
=========================================================
=========================================================
*/
@media (max-width: 480px) {
  .banner {
    width: 100%;
    margin: 0 auto 80px;
    position: relative;
    color: #FFFFFF;
    text-align: center;
  }
  .banner p img {
    width: 100%;
    height: 100%;
  }
  .banner .banner_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .banner .banner_text h2 {
    display: flex;
    font-family: "HakgyoansimDunggeunmisoTTF-B";
    font-size: 1.125rem;
  }
  .banner .banner_text b {
    font-size: 0.5rem;
    font-weight: normal;
  }
  .input_icon {
    padding: 10px;
    font-size: 20px;
    width: 30%;
  }
  .name, .tel, .email, .num {
    height: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #B6B6B6;
  }
  .name::before {
    content: url(../img/reserv/reserv02_user_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 9px;
    font-size: 0px;
  }
  .tel::before {
    content: url(../img/reserv/reserv02_call_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 4px;
    font-size: 0px;
  }
  .email::before {
    content: url(../img/reserv/reserv02_mail_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0px;
  }
  .num::before {
    content: url(../img/reserv/reserv03_num_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0px;
  }
  .user_top, .calender_top, .reserv03_check_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 28px;
    background-color: #999F54;
    border-radius: 16px 16px 0 0;
    text-align: center;
  }
  .user_top h3, .calender_top h3, .reserv03_check_top h3 {
    color: #FFF8EB;
    font-weight: normal;
  }
  .close {
    margin-left: 54px;
    width: 12px;
    height: 12px;
    background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
  }
  .reserve_bar {
    width: 90%;
    margin: 0 auto 50px;
  }
  .reserve_bar ul {
    display: flex;
    justify-content: space-around;
  }
  .reserve_bar ul li {
    position: relative;
    flex-shrink: 0;
  }
  .reserve_bar ul li a {
    display: inline;
    text-align: center;
  }
  .reserve_bar ul li p {
    font-size: 0.9rem;
    display: inline-block;
    color: #999F54;
  }
  .reserve_bar ul li::after {
    content: url(../img/reserv/reserv_arrow_02.svg);
    display: inline-block;
    position: absolute;
    right: -42%;
    top: 0;
  }
  .reserve_bar ul li:last-of-type::after {
    content: "";
  }
  .reserve_bar ul li.active p {
    color: #566418;
    font-weight: bold;
    border-bottom: 1px solid #566418;
  }
  .reserve_bar ul li.active::after {
    content: url(../img/reserv/reserv_arrow_01.svg);
    display: inline-block;
  }
  .reserve_bar ul li:last-of-type.active::after {
    content: "";
    display: inline-block;
  }
  #calendar {
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
  }
  .reserve_popupbar {
    position: relative;
  }
  .reserve_popupbar .reserve_popupbar_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left {
    display: flex;
    align-items: center;
    background-color: rgba(255, 248, 235, 0.5254901961);
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div {
    border-right: 1px solid black;
    padding: 0 53px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
    text-align: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .children {
    border: none;
  }
  .reserve_popupbar .reserve_popupbar_flex .right {
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .right a {
    display: block;
    font-size: 1.5rem;
    padding: 32px 91px;
    color: white;
    background-color: #999F54;
  }
  .reserve_popupbar .user {
    width: 250px;
  }
  .reserve_popupbar .user h3::before {
    content: url(../img/reserv/reserv_uesr_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .reserve_popupbar .user .plus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .minus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .user_1 {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .reserve_popupbar .user .user_1 .user_btn {
    text-align: center;
  }
  .reserve_popupbar .user .user_1 .user_btn a {
    background-color: #ECEBC2;
    border-radius: 20px;
    padding: 13px 27px;
  }
  .reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .reserve_popupbar .user .button_num {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .calender {
    width: 750px;
  }
  .reserve_popupbar .calender h3::before {
    content: url(../img/reserv/reserv_date_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 300px;
  }
  .reserv02 {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    line-height: 24px;
  }
  .reserv02 .dot {
    word-break: keep-all;
    line-height: 1.8;
  }
  .reserv02 .dot::before {
    content: " ⁕ ";
    margin-right: 5px;
  }
  .reserv02 h3 {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  .reserv02 .checkbox, .reserv02 .radio {
    width: 16px;
    height: 16px;
    margin: 2px 10px 0 0;
  }
  .reserv02 .left {
    padding: 150px 60px;
  }
  .reserv02 .left .content_box {
    margin-bottom: 70px;
  }
  .reserv02 .left .content_box .qna::after {
    content: " | ";
  }
  .reserv02 .left .content_box .qna, .reserv02 .left .content_box .tel_01, .reserv02 .left .content_box .email_01 {
    display: inline-block;
  }
  .reserv02 .left .content_box .tel_01::before {
    content: url(../img/reserv/reserv02_call_02.svg);
    display: inline-block;
  }
  .reserv02 .left .content_box .email_01::before {
    content: url(../img/reserv/reserv02_mail_02.svg);
    display: inline-block;
  }
  .reserv02 .left .content_box a {
    margin-left: 13px;
    font-size: 0.8rem;
    color: #6f6f6f;
    border-bottom: 1px solid #6f6f6f;
  }
  .reserv02 .right {
    position: sticky;
    background-color: #FFF8EB;
    padding: 150px 60px;
  }
  .reserv02 .right .cash {
    margin: 0 0 100px;
  }
  .reserv02 .right .cash .room b, .reserv02 .right .cash .room p {
    margin-bottom: 10px;
  }
  .reserv02 .right .cash .room .reserv_children > p {
    margin-bottom: 26px;
  }
  .reserv02 .right .cash .total {
    border-top: 2px dashed #333;
  }
  .reserv02 .right .cash .total b {
    padding-top: 36px;
    font-size: 1.25rem;
  }
  .reserv02 .right .cash .total p {
    padding-top: 32px;
    font-size: 1.8rem;
  }
  .reserv02 .right .cash .check_in_out, .reserv02 .right .cash .reserv_adult, .reserv02 .right .cash .reserv_children, .reserv02 .right .cash .total {
    display: flex;
    justify-content: space-between;
  }
  .reserv02 .right .reserv_payment .payment_methods01 {
    margin-bottom: 50px;
  }
  .reserv02 .right .reserv_payment .payment_methods02 {
    margin-bottom: 50px;
    display: none;
  }
  .reserv02 .right .reserv_payment .payment_methods02 p {
    margin: 30px 0;
  }
  .reserv02 .right .reserv_payment .payment_methods02.active {
    display: block;
  }
  .reserv02 .right .reserv_payment .payment_methods02 > b::before {
    content: url(../img/reserv/reserv02_bank_01.svg);
    display: inline-block;
    margin-right: 10px;
  }
  .reserv02 .right a {
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    display: block;
    background-color: #999F54;
    color: #FFF8EB;
  }
  .reserv03 {
    width: 1400px;
    margin: 0 auto;
  }
  .reserv03 .reserv03_inputbox {
    margin: 0 auto;
    display: flex;
    width: 554px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reserv03 a {
    text-align: center;
    font-size: 1.25rem;
    color: #FFF8EB;
    display: inline-block;
    background-color: #999F54;
    padding: 30px 50px;
    border-radius: 20px;
  }
  .reserv03 .reserv03_check {
    margin: 0 auto;
    width: 500px;
  }
  .reserv03 .reserv03_check h3::before {
    content: url(../img/reserv/reserv03_popup_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 132px;
  }
  .reserv03 .reserv03_check .room_num {
    margin-bottom: 50px;
  }
  .reserv03 .reserv03_check .room_num h2 {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  .reserv03 .reserv03_check .room_num ul {
    border-bottom: 1px solid #555;
  }
  .reserv03 .reserv03_check .room_num ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .reserv03 .reserv03_check .room_num ul li p {
    font-size: 1rem;
    font-weight: normal;
  }
  .reserv03 .reserv03_check .room_num ul li:last-of-type {
    margin-bottom: 25px;
  }
  .reserv03 .reserv03_check .room_check {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 55px;
  }
  .reserv03 .reserv03_check .reserv03_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .reserv03 .reserv03_check .reserv03_btn a {
    border-radius: 15px;
    padding: 12px 20px;
    background-color: #999F54;
    color: #FFF8EB;
  }
  .reserv03 .reserv03_check .reserv03_btn a:nth-of-type(1) {
    background-color: #ECEBC2;
    color: #566418;
  }
}
/* 
=========================================================
=========================================================
========================IPAD=====================
=========================================================
=========================================================
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    width: 100%;
    margin: 0 auto 150px;
    position: relative;
    color: #FFFFFF;
    text-align: center;
  }
  .banner p img {
    width: 100%;
    height: 100%;
  }
  .banner .banner_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .banner .banner_text h2 {
    display: flex;
    font-family: "HakgyoansimDunggeunmisoTTF-B";
    font-size: 2.8rem;
  }
  .banner .banner_text b {
    font-weight: normal;
  }
  .input_icon {
    padding: 10px;
    font-size: 20px;
    width: 30%;
  }
  .name, .tel, .email, .num {
    height: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #B6B6B6;
  }
  .name::before {
    content: url(../img/reserv/reserv02_user_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 9px;
    font-size: 0px;
  }
  .tel::before {
    content: url(../img/reserv/reserv02_call_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 4px;
    font-size: 0px;
  }
  .email::before {
    content: url(../img/reserv/reserv02_mail_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0px;
  }
  .num::before {
    content: url(../img/reserv/reserv03_num_01.svg);
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0px;
  }
  .user_top, .calender_top, .reserv03_check_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 28px;
    background-color: #999F54;
    border-radius: 16px 16px 0 0;
    text-align: center;
  }
  .user_top h3, .calender_top h3, .reserv03_check_top h3 {
    color: #FFF8EB;
    font-weight: normal;
  }
  .close {
    margin-left: 54px;
    width: 12px;
    height: 12px;
    background: url(../img/reserv/reserv_X_01.svg) 0 0/cover no-repeat;
  }
  .reserve_bar {
    width: 1400px;
    margin: 0 auto 150px;
  }
  .reserve_bar ul {
    display: flex;
    justify-content: space-around;
  }
  .reserve_bar ul li {
    position: relative;
    flex-shrink: 0;
  }
  .reserve_bar ul li a {
    display: inline-block;
    width: 7.125rem;
    text-align: center;
  }
  .reserve_bar ul li p {
    display: inline-block;
    color: #999F54;
  }
  .reserve_bar ul li::after {
    content: url(../img/reserv/reserv_arrow_02.svg);
    display: inline-block;
    position: absolute;
    right: -150%;
    top: 0;
  }
  .reserve_bar ul li:last-of-type::after {
    content: "";
  }
  .reserve_bar ul li.active p {
    color: #566418;
    font-weight: bold;
    border-bottom: 1px solid #566418;
  }
  .reserve_bar ul li.active::after {
    content: url(../img/reserv/reserv_arrow_01.svg);
    display: inline-block;
  }
  .reserve_bar ul li:last-of-type.active::after {
    content: "";
    display: inline-block;
  }
  #calendar {
    width: 1400px;
    margin: 0 auto;
    text-transform: uppercase;
  }
  .reserve_popupbar {
    position: relative;
  }
  .reserve_popupbar .reserve_popupbar_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left {
    display: flex;
    align-items: center;
    background-color: rgba(255, 248, 235, 0.5254901961);
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div {
    border-right: 1px solid black;
    padding: 0 53px;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div h3 {
    font-size: 14px;
    font-weight: normal;
  }
  .reserve_popupbar .reserve_popupbar_flex .left div p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .adult, .reserve_popupbar .reserve_popupbar_flex .left .children {
    text-align: center;
  }
  .reserve_popupbar .reserve_popupbar_flex .left .children {
    border: none;
  }
  .reserve_popupbar .reserve_popupbar_flex .right {
    height: 100px;
  }
  .reserve_popupbar .reserve_popupbar_flex .right a {
    display: block;
    font-size: 1.5rem;
    padding: 32px 91px;
    color: white;
    background-color: #999F54;
  }
  .reserve_popupbar .user {
    width: 250px;
  }
  .reserve_popupbar .user h3::before {
    content: url(../img/reserv/reserv_uesr_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .reserve_popupbar .user .plus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoPlusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .minus_btn {
    width: 26px;
    height: 26px;
    background: url(../img/reserv/reserv_icoMinusBtn.svg) 0 0/cover no-repeat;
  }
  .reserve_popupbar .user .user_1 {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 20px 33px;
  }
  .reserve_popupbar .user .user_1 .user_btn {
    text-align: center;
  }
  .reserve_popupbar .user .user_1 .user_btn a {
    background-color: #ECEBC2;
    border-radius: 20px;
    padding: 13px 27px;
  }
  .reserve_popupbar .user .user_adult, .reserve_popupbar .user .user_children {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .user .user_adult p:nth-of-type(2), .reserve_popupbar .user .user_children p:nth-of-type(2) {
    font-size: 0.7rem;
  }
  .reserve_popupbar .user .button_num {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .reserve_popupbar .calender {
    width: 750px;
  }
  .reserve_popupbar .calender h3::before {
    content: url(../img/reserv/reserv_date_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 300px;
  }
  .reserv02 {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    line-height: 24px;
  }
  .reserv02 .dot {
    word-break: keep-all;
    line-height: 1.8;
  }
  .reserv02 .dot::before {
    content: " ⁕ ";
    margin-right: 5px;
  }
  .reserv02 h3 {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  .reserv02 .checkbox, .reserv02 .radio {
    width: 16px;
    height: 16px;
    margin: 2px 10px 0 0;
  }
  .reserv02 .left {
    padding: 150px 60px;
  }
  .reserv02 .left .content_box {
    margin-bottom: 70px;
  }
  .reserv02 .left .content_box .qna::after {
    content: " | ";
  }
  .reserv02 .left .content_box .qna, .reserv02 .left .content_box .tel_01, .reserv02 .left .content_box .email_01 {
    display: inline-block;
  }
  .reserv02 .left .content_box .tel_01::before {
    content: url(../img/reserv/reserv02_call_02.svg);
    display: inline-block;
  }
  .reserv02 .left .content_box .email_01::before {
    content: url(../img/reserv/reserv02_mail_02.svg);
    display: inline-block;
  }
  .reserv02 .left .content_box a {
    margin-left: 13px;
    font-size: 0.8rem;
    color: #6f6f6f;
    border-bottom: 1px solid #6f6f6f;
  }
  .reserv02 .right {
    position: sticky;
    background-color: #FFF8EB;
    padding: 150px 60px;
  }
  .reserv02 .right .cash {
    margin: 0 0 100px;
  }
  .reserv02 .right .cash .room b, .reserv02 .right .cash .room p {
    margin-bottom: 10px;
  }
  .reserv02 .right .cash .room .reserv_children > p {
    margin-bottom: 26px;
  }
  .reserv02 .right .cash .total {
    border-top: 2px dashed #333;
  }
  .reserv02 .right .cash .total b {
    padding-top: 36px;
    font-size: 1.25rem;
  }
  .reserv02 .right .cash .total p {
    padding-top: 32px;
    font-size: 1.8rem;
  }
  .reserv02 .right .cash .check_in_out, .reserv02 .right .cash .reserv_adult, .reserv02 .right .cash .reserv_children, .reserv02 .right .cash .total {
    display: flex;
    justify-content: space-between;
  }
  .reserv02 .right .reserv_payment .payment_methods01 {
    margin-bottom: 50px;
  }
  .reserv02 .right .reserv_payment .payment_methods02 {
    margin-bottom: 50px;
    display: none;
  }
  .reserv02 .right .reserv_payment .payment_methods02 p {
    margin: 30px 0;
  }
  .reserv02 .right .reserv_payment .payment_methods02.active {
    display: block;
  }
  .reserv02 .right .reserv_payment .payment_methods02 > b::before {
    content: url(../img/reserv/reserv02_bank_01.svg);
    display: inline-block;
    margin-right: 10px;
  }
  .reserv02 .right a {
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    display: block;
    background-color: #999F54;
    color: #FFF8EB;
  }
  .reserv03 {
    width: 1400px;
    margin: 0 auto;
  }
  .reserv03 .reserv03_inputbox {
    margin: 0 auto;
    display: flex;
    width: 554px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reserv03 a {
    text-align: center;
    font-size: 1.25rem;
    color: #FFF8EB;
    display: inline-block;
    background-color: #999F54;
    padding: 30px 50px;
    border-radius: 20px;
  }
  .reserv03 .reserv03_check {
    margin: 0 auto;
    width: 500px;
  }
  .reserv03 .reserv03_check h3::before {
    content: url(../img/reserv/reserv03_popup_01.svg);
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    margin-right: 132px;
  }
  .reserv03 .reserv03_check .room_num {
    margin-bottom: 50px;
  }
  .reserv03 .reserv03_check .room_num h2 {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  .reserv03 .reserv03_check .room_num ul {
    border-bottom: 1px solid #555;
  }
  .reserv03 .reserv03_check .room_num ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .reserv03 .reserv03_check .room_num ul li p {
    font-size: 1rem;
    font-weight: normal;
  }
  .reserv03 .reserv03_check .room_num ul li:last-of-type {
    margin-bottom: 25px;
  }
  .reserv03 .reserv03_check .room_check {
    border: 1px solid #999F54;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    padding: 55px;
  }
  .reserv03 .reserv03_check .reserv03_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .reserv03 .reserv03_check .reserv03_btn a {
    border-radius: 15px;
    padding: 12px 20px;
    background-color: #999F54;
    color: #FFF8EB;
  }
  .reserv03 .reserv03_check .reserv03_btn a:nth-of-type(1) {
    background-color: #ECEBC2;
    color: #566418;
  }
}