@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }

@import './common';



@media (max-width: 768px) {
    .top{
        position: relative;
        img{
            max-width: 100%;
            height: auto;
        }
        div{
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            color: #FFFFFF;
            text-align: center;
            b{
                font-family: 'Hakgyoansim Dunggeunmiso TTF';
                font-size: 25px;
            }
            p{
                font-family: 'Noto Sans KR Regular';
                font-size: 12px;
                margin-left: -5px;
            }
        }
    }
    .room{
        width:90%; 
        margin:0 auto;
        overflow: hidden;
        padding-top:80px;
    
        article{
            margin-bottom:80px;
            h5{
                color: #999F54;
                font-size: 30px;
                font-family: 'HakgyoansimDunggeunmisoTTF-R';
                width: 420px;
                margin:0 auto;
                padding-bottom:20px;
                font-weight: normal;
            b{
                font-size: 40px;
                // font-weight: normal;
            }
            }
        }
    
    }
    .swiper{
        position: relative;
        transform: scale(1.3);
        &-slide{
            img{width:100%;}
        }
        a{
            position: absolute;
            right: 0; bottom: 0;
            transform: scale(0.5);
    
        }
        &-pagination-bullet{
            background-color: #999F54;
        }
    
    }
    .room-2{
        width: 420px;
        display: flex;

        margin: 20px auto;
        ul{
        }
        li{
            color: #333333;
            font-family: 'NanumSquare Regular';
            font-size: 12px;
            line-height: 1.5;
        }
        p{ 
            color: #566418;
            font-family: 'NanumSquare';
            font-size: 20px;
            font-weight: bold;
        }
    }
    .room-indi{

        right: 50%; top: 35%;
        ul{
            
            display: flex;
            margin: 30px auto;
            li{
                width: 60px;
                font-family: 'NanumSquare';
                font-size: 20px;
                color: #999F54;
                font-weight: bold;
                
    
                &.active{
                    color: #566418;
                    font-weight: 900;
                    text-decoration: underline;
                }
                &:hover{
                    color: #566418;
                    font-weight:900;
                    text-decoration: underline;
                    transform: translateY(20%);
                }
            }
        }
        
    }
    .res{
        position: fixed;
        width:50%;
        left:75%; bottom:0;
        transform: translateX(-50%);
        z-index: 3;
        a{
            width: 150px; height: 50px;
            font-family: 'NanumSquare';
            font-size: 10px;
            background-color:rgba($color:#F3EAD6, $alpha: 0.5) ;
            color: black;
            padding: 30px 30px;
            font-weight: bold;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .top{
        position: relative;
        img{
            max-width: 100%;
            height: auto;
        }
        div{
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            color: #FFFFFF;
            text-align: center;
            b{
                font-family: 'Hakgyoansim Dunggeunmiso TTF';
                font-size: 18px;
            }
            p{
                font-family: 'Noto Sans KR Regular';
                font-size: 8px;
                text-align: center;
            }
        }
    }
    .room{
        width:90%; 
        margin:0 auto;
        overflow: hidden;
        padding-top:50px;
    
        article{
            margin-bottom:50px;
            h5{
                color:#999F54 ;
                font-size: 16px;
                font-family: 'HakgyoansimDunggeunmisoTTF-R';
                width: 200px;
                margin:0 auto;
                padding-bottom:10px;
                font-weight: normal;
            b{font-size: 24px;}
            }
        }
    
    }
    .swiper{
        position: relative;
        transform: scale(1.3);
        &-slide{
            img{width:100%;}
        }
        a{
            position: absolute;
            right: 0; bottom: 0;
            transform: scale(0.5);
    
        }
        &-pagination-bullet{
            background-color: #999F54;
        }
        &-pagination{
            position:static ;
            // 불릿모양이 스크린 이상한 위치에 들어가 있어서 씀
            // position: absolute; 없애지고 들어감
        }

    
    }
    .room-2{
        width: 200px;
        display: flex;
        margin: 15px auto;
        li{ 
            display: flex;
            color: #333333;
            font-family: 'NanumSquare Regular';
            font-size: 10px;
            line-height: 1.2;
        }
        p{  
            display: flex;
            color: #566418;
            font-family: 'NanumSquare';
            font-size: 12px;
            font-weight: bold;


        }
    }
    .room-indi{
        width: 28%;
        padding-bottom: 50px;
        right: 50%; top: 12%;
        ul{
            position: fixed;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 5%;
            margin: 0;
            li{
                font-family: 'NanumSquare';
                font-size: 14px;
                color: #999F54;
                font-weight: bold;
                &.active{
                    color: #566418;
                    font-weight: 900;
                    text-decoration: underline;
                }
                &:hover{
                    color: #566418;
                    font-weight:900;
                    text-decoration: underline;
                    transform: translateY(20%);
                    transition: .5s;
                }
            }
        }

    }
    .res{
        position: fixed;
        width:50%;
        left:75%; bottom:0;
        transform: translateX(-50%);
        z-index: 3;
        a{
            width: 100px; height: 10px;
            font-family: 'NanumSquare';
            font-size: 10px;
            background-color:rgba($color:#F3EAD6, $alpha: 0.5) ;
            text-decoration: none;
            color: black;
            padding: 18px 18px;
            font-weight: bold;
            text-align: center;
        }
    }
}